.cyj-floor-banner {
    border: 1px solid;
    height: 900px;
    width: 748px;
    position: relative;
    bottom: 44px;
    opacity: 1px;
    border-radius: 30px;
    color: white;
    background-color: white;
}
#cyj-currentTime{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 35px;
    left: 40px;
}
.cyj-menu{
    width: 750px;
    position: relative;
    display: inline-block;
}
.cyj-top-status{
    position: absolute;
    top: 40px;
    left: 605px;
    z-index: 99;
}
#cyj-icon-battery{
    scale: 2;
    margin-left: 10px;
}
.cyj-top-status>svg{
    margin-left: 3px;
}
.cyj-left-menu{
    position: absolute;
    top: 27%;
    left: 2%;
    float: left;
    border: rgb(184, 179, 180) 1px solid;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
#cyj-icon-back{
    margin-left: 7% ;
   margin-bottom: 2px;
    width: 20px;
    height: 20px;
}
.cyj-left-menu>p{
    margin-left: 5px;
    display: inline;
    color: #565656;
    height: 40px;
    font-size: 25px;
    font-weight: lighter;
    
}
#cyj-icon-back::after{
    font-size: 42px;
    color: red;
}
#cyj-icon-home{
    margin-left: 5% ;
    margin-top: 10%;
    width: 25px;
    height: 25px;
    font-weight: 900;
    stroke-width: 900;
}
#test{
    font-weight: 900;
    stroke-width: 900;
}
.cyj-right-menu{
    position: absolute;
    top: 27%;
    right: 20px;
    float: right;
    border:rgb(175, 175, 175) 1px solid ;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
#cyj-icon-more{
    position: absolute;
    scale: 1.5;
    top: 7px;
    left: 25px;
}
#cyj-icon-close{
    position: absolute;
    scale: 1.4;
    top: 7px;
    left: 95px;
}
.cyj-right-menu>p{
    position:absolute;
    left: 70px;
    height: 40px;
    font-size: 22px;
    font-weight: lighter;
    top: -18px;
    color: #b5b2b2;
    
}

.cyj-pointed {
    color: #3F5A35;
    font-size: 18px;
    background: #ffffff !important;
    font-weight: bold;
    /* border: rebeccapurple 3px solid; */
}
.cyj-q{
    background: #E9E9E9;
}
.cyj-q:hover{
    color: #3F5A35;
    font-size: 18px;
    background: #ffffff !important;
    font-weight: bold;
    cursor: pointer;
}

.cyj-i {
    position: relative;
    top: 28px;
    left: 12px;
}

.cyj-x {
    position: relative;
    left: 8px;
    bottom: 16px;
    font-size: 28px;
    color: black;
}

.cyj-t {
    position: relative;
    left: 340px;
    bottom: 16px;
    font-size: 28px;
    color: black;
}

.cyj-right {
    position: relative;
    left: 200px;
    bottom: 850px;
}

.cyj-left {
    position: relative;
    top: 45px;
    color: black;
    text-align: center;
}

.cyj-z {
    font-weight: bold;
}

.cyj-left td {
    background-color: #E9E9E9;
}

td img {
    position: relative;
    left: 7px;
    top: 3px;
    border-radius: 5%;
}

.cyj-left tr td :hover {
    background-color: white;
    color: #749168;
}

.cyj-s {
    color: #6A8B5F;
    font-weight: bold;
    font-size: 22px;
}

.cyj-m {
    color: #6A8B5F;
}

.cyj-f {
    color: #C4C4C4;
}

.cyj-p {
    color: #C4C4C4;
}

.cyj-j {
    position: relative;
    bottom: 15px;
}

.cyj-y {
    color: #C4C4C4;
}

.cyj-hr {
    width: 46%;
    position: relative;
    right: 323px;
    color: #C4C4C4;
    size: 0.1px;
    opacity: 20%;
}

.cyj-ht {
    width: 46%;
    position: relative;
    top: 39px;
    right: 323px;
    color: #C4C4C4;
    size: 0.1px;
    opacity: 20%;
}

.cyj-fr1 {
    position: relative;
    left: 16px;
    bottom: 810px;
}

.cyj-fr2 {
    position: relative;
    left: 90px;
    bottom: 880px;
}

.cyj-fr3 {
    position: relative;
    left: 560px;
    bottom: 880px;
    box-shadow: 0 0 0 20px #3F5A35;
    border-radius: 10px;
    width: 160px;
    color: white;
    background-color: #3F5A35;
}

.cyj-1 {
    position: relative;
    left: 30px;
    top: 20px;
    color: #C4C4C4;
}

.cyj-2 {
    position: relative;
    left: 20px;
    top: 25px;
    font-weight: bold;
    font-size: 22px;
}
.cyj-goods4{
    width: 180px;
    height: 180px;
}

.cyj-fr4 {
    text-decoration: none;
    color: white;
    position: relative;
    left: 45px;
    letter-spacing: 0.2em;
}
.cyj-hide {
    display: none;
}